body {
    background-color: #faf4eb;
    margin-bottom: 20px;
}

.Content {
    height: calc(100vh - 132px);
    padding-top: 100px;
    padding-bottom: 30px;
}

@media screen and (min-width: 1600px) {
    .Content {
        /* background-color: violet; */
        margin: 0 10%;
    }
}